* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* To align every element without changing backgrounds */
body > * > * {
    margin: auto 10px;
}

header {
    height: 7.5vh;
    background-image: url(images/pattern.png);
    background-repeat: repeat-x;
    background-color: #4ea0ff;
    background-size: 35%;
    background-position: top;
    position: relative;
}

header > img {
    height: 70%;
    position: absolute;
    bottom: 0px;
}