* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* To align every element without changing backgrounds */
body > * > * {
    margin: auto 10px;
}

header {
    height: 7.5vh;
    background-image: url(images/pattern.png);
    background-repeat: repeat-x;
    background-color: #4ea0ff;
    background-size: 35%;
    background-position: top;
    position: relative;
}

header > img {
    height: 70%;
    position: absolute;
    bottom: 0px;
}

main {
    padding-top: 1%;
}

section {
    margin-top: 1%;
}

section > span {
    display: block;
}

.article-title {
    font-size: 3em;
}

.article-author {
    font-size: 1.5em;
    font-weight: 500;
    color: #7b7b7b;
}

.article-author > em {
    color: #22a9e5;
    font-style: normal;
}

.article-date {
    font-size: 1em;
    color: #7b7b7b;
    font-weight: 500;
}

.image-attribution {
    font-size: 1em;
}